* {margin: 0px;}

.item1 {grid-area: menu;}

.item2 { grid-area: cabecalho;}

.item3 {grid-area: conteudo;}

.item4 {grid-area: rodape;}

.menu {
    display: grid;
    grid-template-rows: 100px 200px 400px 200px;
    grid-template-areas: 'menu menu menu menu'
                     'cabecalho cabecalho cabecalho cabecalho'
                     'conteudo conteudo conteudo conteudo'
                     'rodape rodape rodape rodape';
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
    }

.menu > nav {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    }