<!DOCTYPE html>
<html>
    <head>
        <title>Spacedwog(Empresarial Template)</title>
        <meta charset="UTF-8">
        <link rel="icon" type="image/x-icon" href="https://irp.cdn-website.com/ac4f6dca/site_favicon_16_1715370263429.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="w3-display-container" style="margin-bottom:50px">
            <img src="https://www.w3schools.com/w3images/beach3.jpg" style="width:100%">
            <div    class="w3-display-bottomleft w3-container w3-amber w3-hover-orange w3-hide-small"
                    style="bottom:10%;opacity:0.7;width:70%">
                <h2><b>4 Good Reasons<br>For travelling with us</b></h2>
            </div>
        </div>
        <div class="w3-row w3-container" style="margin:50px 0">
            <div class="w3-half w3-container">
                <div class="w3-topbar w3-border-amber">
                    <img src="https://www.w3schools.com/w3images/cellphone.jpg" style="width:100%">
                    <h2>Smart Vacation</h2>
                    <p>Full vacation control from your cell phone.</p>
                </div>
            </div>
            <div class="w3-half w3-container">
                <div class="w3-topbar w3-border-amber">
                    <img src="https://www.w3schools.com/w3images/sealions.jpg" style="width:100%">
                    <h2>Super Offers</h2>
                    <p>Up to 50% offers. Always 25% student offers.</p>
                </div>
            </div>
        </div>
        <div class="w3-row w3-container" style="margin:50px 0">
            <div class="w3-half w3-container">
                <div class="w3-topbar w3-border-orange">
                    <img src="https://www.w3schools.com/w3images/truck.jpg" style="width:100%">
                    <h2>Car Rental Included</h2>
                    <p>Wherever you travel our car rental is included.</p>
                </div>
            </div>
            <div class="w3-half w3-container">
                <div class="w3-topbar w3-border-orange">
                    <img src="https://www.w3schools.com/w3images/nowornever.jpg" style="width:100%">
                    <h2>Realize Your Dreams</h2>
                    <p>Don't wait until it is to late.</p>
                </div>
            </div>
        </div>
    </body>
</html>
